@model eyemusic45.Models.ViewModels.eyeMusicModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>select level, eye music</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<body>
    <div class="float-right">
        <h3>
            hello @Model.userid
        </h3>
    </div>
        <div id="body" class="float-left">
        <p class="site-title">select class </p>

            @{
    string[] all_levels = Model.UItrainingStimuliTreeView.Split(';');
    
    int index1 = 0;
    foreach (string level in all_levels)
    {

        string[] all_stage = level.Split(',');

        if (all_stage.Length > 1)
        {
            using (Html.BeginForm("selectLevel", "Home", FormMethod.Post, new { id = "submitForm" }))
            {
                <input type="hidden" name="selected_level" value="@all_stage[0]" />
                                <input type="submit" value="@index1 @all_stage[0]" id="mytable @index1"> 
                                }

                            index1++;    
                        }
                        
                           
                }

            }
    </div>

</body>

</html>